.popoff-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 1;
	background-color: rgba(85,85,85,.85);
	background: linear-gradient(160deg, rgba(103, 98, 105, 0.85), rgba(73, 70, 82, 0.85));
	-webkit-transition: opacity .25s;
	-moz-transition: opacity .25s;
	transition: opacity .25s;
	z-index: 5;
}

.popoff-popup {
	z-index: 9;
	position: absolute;
	overflow: hidden;
	margin: auto;
	min-width: 4rem;
	min-height: 1rem;
	background: white;
	opacity: 1;
	visibility: visible;
	backface-visibility: hidden;
	box-sizing: border-box;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	transform-origin: center center;
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}

.popoff-animate {
	-webkit-transition: opacity .333s, transform .25s ease-out;
	-moz-transition: opacity .333s, transform .25s ease-out;
	transition: opacity .333s, transform .25s ease-out;
}

.popoff-popup-tip {
	margin: 1rem;
}

.popoff-closable {
	cursor: pointer;
}

.popoff-hidden {
	opacity: 0;
	display: none;
	pointer-events: none;
	visibility: hidden;
}

.popoff-container {

}

.popoff-container-overflow {
	overflow: hidden;
	height: 100%;
}

.popoff-overflow {
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.popoff-overflow .popoff-popup {
	position: absolute;
	margin: 4rem auto;
	left: 0;
	right: 0;
}

@media (max-width: 640px) {
	.popoff-overflow .popoff-popup {
		margin: 0 auto;
	}
}


/* Types */
.popoff-modal,
.popoff-dialog,
.popoff-confirm,
.popoff-alert,
.popoff-sidebar {
	position: fixed;
	max-width: 660px;
	min-width: 320px;
	padding: 1.6rem 2rem;
	box-shadow: 0 .666vh 3.333vw -.333vh rgba(19, 16, 27, 0.45);
}
@media (max-width: 640px) {
	.popoff-modal,
	.popoff-dialog,
	.popoff-confirm,
	.popoff-alert {
		max-width: 80%;
	}
}
.popoff-dropdown,
.popoff-tooltip {
	max-width: 320px;
	padding: 1rem 1.2rem;
	box-shadow: 0 1px 4px rgba(19, 16, 27, 0.25);
}

.popoff-sidebar {
	margin: 0;
	max-width: none;
	min-width: 0;
	max-height: none;
}
.popoff-sidebar[data-side="top"] {
	top: 0;
	left: 0;
	right: 0;
	bottom: auto;
	max-height: 20%;
}
.popoff-sidebar[data-side="bottom"] {
	bottom: 0;
	left: 0;
	right: 0;
	top: auto;
	max-height: 20%;
}
.popoff-sidebar[data-side="right"] {
	bottom: 0;
	top: 0;
	right: 0;
	left: auto;
	max-width: 20%;
}
.popoff-sidebar[data-side="left"] {
	bottom: 0;
	top: 0;
	left: 0;
	right: auto;
	max-width: 20%;
}


/* Tip */
.popoff-tip{
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	z-index: 10;
	overflow: hidden;
}
.popoff-tip:after{
	content: '';
	border-top-left-radius: 1px;
	position: absolute;
	background: white;
	box-shadow: 0 0px 3px rgba(19, 16, 27, 0.25);
	-webkit-transform-origin: center;
	-moz-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 1.5rem;
	height: 1.5rem;
}
.popoff-tip[data-side="top"],
.popoff-tip[data-side="bottom"] {
	height: 1rem;
}
.popoff-tip[data-side="top"]:after{
	bottom: auto;
	top: .65rem;
}
.popoff-tip[data-side="bottom"]:after{
	bottom: .65rem;
	top: auto;
}
.popoff-tip[data-side="left"],
.popoff-tip[data-side="right"] {
	width: 1rem;
}
.popoff-tip[data-side="left"]:after{
	left: .65rem;
	right: auto;
}
.popoff-tip[data-side="right"]:after{
	left: auto;
	right: .65rem;
}


/* Close button */
.popoff-close {
	position: absolute;
	right: 0;
	top: 0;
	width: 3.333rem;
	height: 3.333rem;
	cursor: pointer;
	line-height: 3.333rem;
	text-align: center;
	font-size: 1.333rem;
	color: rgb(40,40,40);
	background: transparent;
}
.popoff-close:after {
	content: '✕';
}
.popoff-close:hover{
	background: black;
	color: white;
}


/* Effects */
/* Basic effects */
.popoff-effect-fade {
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Effect 1: Fade in and scale up */
.popoff-effect-scale {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}



/* Effect 2: Slide from the right */
.popoff-effect-slide-right {
	-webkit-transform: translateX(20%);
	-moz-transform: translateX(20%);
	-ms-transform: translateX(20%);
	transform: translateX(20%);
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	-moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.popoff-effect-slide-bottom,
.popoff-effect-slide {
	-webkit-transform: translateY(20%);
	-moz-transform: translateY(20%);
	-ms-transform: translateY(20%);
	transform: translateY(20%);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.popoff-effect-slide-left {
	-webkit-transform: translateX(-20%);
	-moz-transform: translateX(-20%);
	-ms-transform: translateX(-20%);
	transform: translateX(-20%);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.popoff-effect-slide-top {
	-webkit-transform: translateY(-20%);
	-moz-transform: translateY(-20%);
	-ms-transform: translateY(-20%);
	transform: translateY(-20%);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


/* Effect 4: Newspaper */
.popoff-effect-newspaper {
	-webkit-transform: scale(0) rotate(720deg);
	-moz-transform: scale(0) rotate(720deg);
	-ms-transform: scale(0) rotate(720deg);
	transform: scale(0) rotate(720deg);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0;
}


/* Effect 11: Super scaled */
.popoff-effect-super-scaled {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
