.poppy-container [hidden]{
	display: none;
}
.poppy-container {
	z-index: 999;
}


/* Tip */
.poppy-tip{
	width: 2em;
	height: 2em;
	position: absolute;
	z-index: 999;
}
.poppy-tip:after{
	content: '';
	border-top-left-radius: 1px;
	position: absolute;
	background: white;
	box-shadow: 0px 0px 1px rgba(40,50,55, .5);
	-webkit-transform: rotate(45deg);
	-khtml-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	/* Change these values to alter tip size */
	width: 1.5em;
	height: 1.5em;
}


.poppy-container-tip{
	margin: 1em;
}



/* Close button */
.poppy-close{
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	line-height: 40px;
	text-align: center;
	opacity: .3;
	font-size: 26px;
}
.poppy-close:after{
	content: '×';
}
.poppy-close:hover{
	opacity: 1;
}



/* Specific containers */
.poppy-blind{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100%;
	z-index: 998;
	background: rgba(80,80,80,.6);
	overflow: auto;
}
.poppy-popup{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 999;
	background: white;
	box-shadow: 0 1px 6px rgba(40,50,55, .5);
	min-height: 20px;
	padding: 10px 40px 10px 10px;
	-webkit-animation-duration: .25s;
	-khtml-animation-duration: .25s;
	-moz-animation-duration: .25s;
	-ms-animation-duration: .25s;
	-o-animation-duration: .25s;
	animation-duration: .25s;
}
.poppy-popover{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background: white;
	box-shadow: 0 1px 6px rgba(40,50,55, .5);
	padding: 10px 10px 10px 10px;
	-webkit-animation-duration: .25s;
	-khtml-animation-duration: .25s;
	-moz-animation-duration: .25s;
	-ms-animation-duration: .25s;
	-o-animation-duration: .25s;
	animation-duration: .25s;
}
.poppy-dropdown{
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	box-shadow: 0 1px 6px rgba(40,50,55, .5);
	padding: 10px 10px 10px 10px;
	-webkit-animation-duration: .25s;
	-khtml-animation-duration: .25s;
	-moz-animation-duration: .25s;
	-ms-animation-duration: .25s;
	-o-animation-duration: .25s;
	animation-duration: .25s;
}
.poppy-tooltip{
	box-shadow: 0 0 0 10px #ddd;
	padding: 10px 10px;
	border-radius: 8px;
}
.poppy-dialog{

}
.poppy-lightbox{

}